<nav class="vertical panel">
  <h3>Install and Setup</h3>
  <ul>
    <li><a href="">Get Formula</a></li>
    <li><a href="">Installation</a></li>
    <li><a href="">Setup</a></li>
  </ul>
  <hr>
  <h3>Features</h3>
  <hr>
  <ul>
    <li><a href="">Grid System</a></li>
    <li><a href="">Responsive Design</a></li>
    <li><a href="">Typography</a></li>
    <li><a href="">Forms</a></li>
    <li><a href="">Buttons</a></li>
    <li><a href="">Navigation</a></li>
    <li><a href="">Tables</a></li>
    <li><a href="">Helpers</a></li>
    <li><a href="">Panels</a></li>
    <li><a href="">Alerts Messages</a></li>
  </ul>
  <h3>Components</h3>
  <ul>
    <li><a href="">Grid System</a></li>
    <li><a href="">Responsive Design</a></li>
    <li><a href="">Typography</a></li>
    <li><a href="">Forms</a></li>
    <li><a href="">Buttons</a></li>
    <li><a href="">Navigation</a></li>
    <li><a href="">Tables</a></li>
    <li><a href="">Helpers</a></li>
    <li><a href="">Panels</a></li>
    <li><a href="">Alerts Messages</a></li>
  </ul>
  <hr>
  <h3>Themes</h3>
  <ul>
    <li><a href="">Get Themes</a></li>
    <li><a href="">Theme Maker</a></li>
  </ul>
</nav>