<fieldset>
  <legend>Profile</legend>
  <div class="two fields">
    <div class="field">
      <input type="text">
      <label for="">First</label>
    </div>
    <div class="field">
      <input type="text">
      <label for="">Last</label>
    </div>
  </div>
  <div class="field">
    <input type="email">
    <label for="">Email</label>
  </div>
</fieldset>