<fieldset>
  <legend>Location</legend>
  <div class="three fields">
    <div class="field">
      <input type=text>
      <label for="">City</label>
    </div>
    <div class="field">
      <select>
        <option>Oregon</option>
        <option>Washington</option>
        <option>California</option>
      </select>
      <label for="">State</label>
    </div>
    <div class="field">
      <input type=text>
      <label for="">Zip</label>
    </div>
  </div>
</fieldset>