<fieldset>
  <legend>Profile</legend>
  <div class="two fields">
    <div class="field">
      <input type="text">
      <label for="">First</label>
    </div>
    <div class="field">
      <input type="text">
      <label for="">Last</label>
    </div>
  </div>
  <div class="field">
    <input type="email">
    <label for="">Email</label>
  </div>
</fieldset>


<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <form action="">
    <fieldset>
  
  <legend>Fieldset Name</legend>
  
  <label>This is a label.</label>
  <input type="text" placeholder="Standard Input" />
  
  <label>Address</label>
  <input type="text" />
  <input type="text" class="six" /> 
  
</fieldset>
</form>
  </body>
</html>