<form>
  
  <fieldset>
    <legend>Name</legend>
    <div class="two fields">
      <div class="field">
        <input type="text">
        <label>First</label>    
      </div>
      <div class="field">
        <input type="text">
        <label>Last</label>    
      </div>
    </div>
  </fieldset>
  
  <label class="field">
    <span>Email</span>
    <div class="input">
      <input type="email">
    </div>
  </label>
  
  <fieldset>
    <legend>Address</legend>

    <div class="field">
      <input type="text">
      <label>Street</label>    
    </div>

    <div class="field">
      <input type="text">
      <label>Street 2</label>    
    </div>
    
    <div class="fields three">
      <div class="field">
        <input type="text">
        <label>City</label>    
      </div>
    
      <div class="field">
        <select>
          <option>Oregon</option>
          <option>Washington</option>
        </select>
        <label>State</label>    
      </div>
    
      <div class="field">
        <input type="text">
        <label>Zip Code</label>    
      </div>
    </div>

  </fieldset>

  <label class="field">
    <span>Password</span>
    <div class="input">
      <input type="email">
    </div>
  </label>

  <div class="field">
    <span>Interests</span>
    <ul class="input">
      <li><label><input type="checkbox" checked>Dogs</label></li>
      <li><label><input type="checkbox">Cats</label></li>
    </ul>
  </div>

  <div class="field">
    <span>Freqency</span>
    <ul class="input">
      <li><label><input type="radio" name="frequency" checked>Weekly</label></li>
      <li><label><input type="radio" name="frequency">Monthly</label></li>
    </ul>
  </div>
  
  <div class="actions">
    <input type="submit" value="Submit">
  </div>
</form>