<form class="stacked">
  <!-- Field -->
  <label class="field">
    <span>Email</span>
    <div class="input">
      <input type="Email">
    </div>
  </label>

  <!-- Actions -->
  <div class="actions">
    <input type="submit" value="Login">
  </div>
</form>
