<form>
  <div class="field">
    <span>Email</span>
    <div class="input">
      <input type="email" placeholder="you@email.com">
    </div>
  </div>
  <div class="field">
    <span>Interests</span>
    <ul class="input">
      <li><label><input type="checkbox" checked>Dogs</label></li>
      <li><label><input type="checkbox">Cats</label></li>
    </ul>
  </div>
  <div class="field">
    <span>Freqency</span>
    <ul class="input">
      <li><label><input type="radio" name="frequency" checked>Weekly</label></li>
      <li><label><input type="radio" name="frequency">Monthly</label></li>
    </ul>
  </div>
  <div class="actions">
    <input type="submit" value="Submit">
  </div>
</form>