<nav class="horizontal panel">
  <ul>
    <li><a href="/documentation">Item 1</a></li>
    <li><a href="/documentation">Item 2</a></li>
    <li class="dropdown">
      <a href="/themes">Dropdown</a>
      <div class="dropdown-menu">
        <h3>Title</h3>
        <ul>
          <li><a href="/themes/default">Dropdown 1</a></li>
          <li><a href="/themes/bright">Dropdown 2</a></li>
        </ul>
        <hr>
        <ul>
          <li><a href="/themes/default">Dropdown 3</a></li>
          <li><a href="/themes/bright">Dropdown 4</a></li>
        </ul>
      </div>
    </li>
    <li><a href="/documentation">Item 3</a></li>
  </ul>
</nav>