<div class="field">
  <span>Options</span>
  <ul class="input">
    <li><label><input type="checkbox" checked>One</label></li>
    <li><label><input type="checkbox" checked>Two</label></li>
  </ul>
</div>
    