<nav class="vertical panel">
  <ul>
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
  </ul>
  <h3>Nav Title</h3>  
  <ul>
    <li><a href="#">Item 4</a></li>
    <li><a href="#">Item 5</a></li>
    <li><a href="#">Item 6</a></li>
    <li class="dropdown">
      <a href="#">Dropdown</a>
      <div class="dropdown-menu">
        <h3>Title</h3>
        <ul>
          <li><a href="#">Dropdown 1</a></li>
        </ul>
        <hr>
        <ul>
          <li><a href="#">Dropdown 2</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">Item 8</a></li>
  </ul>
  <hr>
  <ul>
    <li><a href="#">Item 7</a></li>
  </ul>
</nav>