<section class="row">
  <header class="twentyfour columns">
    <h2>Buttons</h2>
  </header>
  <div class="twentyfour columns">
    <div class="row">
      <div class="six columns">
        
        <div class="tooltip above">
          <a href="" class="btn small primary">Above</a>
          <div class="tooltip-wrapper">
            <div class="tooltip-content">I'm a tooltip can I can be any length I want to be!</div>
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="tooltip below">
          <a href="" class="btn small primary">Below</a>
          <div class="tooltip-wrapper">
            <div class="tooltip-content">Button</div>  
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="tooltip before">
          <a href="" class="btn small primary">Left</a>
          <div class="tooltip-wrapper">
            <div class="tooltip-content">Button</div>  
          </div>
        </div>
        <br>
        <br>
        <br>

        <div class="tooltip after">
          <a href="" class="btn small primary">Right</a>
          <div class="tooltip-wrapper">
            <div class="tooltip-content">Button</div>  
          </div>
        </div>
        <br>
        <br>
        <br>

        Primary</a><br><br><br>
        <a href="" class="btn small primary">Primary</a><br><br><br>
        <a href="" class="btn primary">Primary</a><br><br><br>
        <a href="" class="btn disabled primary">Primary</a><br><br><br>
        <a href="" class="btn large primary">Primary</a><br><br><br>
        <a href="" class="btn x-large primary">Primary</a><br><br><br>
      </div>
      <div class="six columns">
        <a href="" class="btn x-small secondary">Secondary</a><br><br><br>
        <a href="" class="btn small secondary">Secondary</a><br><br><br>
        <a href="" class="btn secondary">Secondary</a><br><br><br>
        <a href="" class="btn disabled secondary">Secondary</a><br><br><br>
        <a href="" class="btn large secondary">Secondary</a><br><br><br>
        <a href="" class="btn x-large secondary">Secondary</a><br><br><br>
      </div>
      <div class="six columns">
        <a href="" class="btn x-small light">Light</a><br><br><br>
        <a href="" class="btn small light">Light</a><br><br><br>
        <a href="" class="btn light">Light</a><br><br><br>
        <a href="" class="btn disabled light">Light</a><br><br><br>
        <a href="" class="btn large light">Light</a><br><br><br>
        <a href="" class="btn x-large light">Light</a><br><br><br>
      </div>
      <div class="six columns">
        <a href="" class="btn x-small dark">Dark</a><br><br><br>
        <a href="" class="btn small dark">Dark</a><br><br><br>
        <a href="" class="btn dark">Dark</a><br><br><br>
        <a href="" class="btn disabled dark">Dark</a><br><br><br>
        <a href="" class="btn large dark">Dark</a><br><br><br>
        <a href="" class="btn x-large dark">Dark</a><br><br><br>
      </div>
    </div>
  </div>
  <div class="twentyfour columns">
    <div class="btn-group">
      <a href="" class="btn primary">Primary</a>
      <a href="" class="btn primary">Primary</a>
      <div class="btn-dropdown">
      <a href="" class="btn primary">Primary</a>
        <div class="dropdown-menu">
          <ul>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
          </ul>
        </div>
      </div>
      <a href="" class="btn primary">Primary</a>
    </div>

    <div class="btn-group">
      <div class="btn-dropdown">
        <a href="" class="btn primary">Primary</a>
        <div class="dropdown-menu">
          <ul>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
          </ul>
        </div>
      </div>
      <a href="" class="btn primary">Primary</a>
      <div class="btn-dropdown">
        <a href="" class="btn primary">Primary</a>
        <div class="dropdown-menu">
          <ul>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="toolbar">
      <div class="btn-group">
        <a href="" class="btn primary">Primary</a>
        <div class="btn-dropdown">
        <a href="" class="btn primary">Primary</a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="">Dropdown Item</a></li>
              <li><a href="">Dropdown Item</a></li>
              <li><a href="">Dropdown Item</a></li>
            </ul>
          </div>
        </div>
        <a href="" class="btn primary">Primary</a>
      </div>

      <form action="">
        <div class="field">
          <label class="hide">Email</label>
          <div class="input suffix eighteen columns">
            <input type="text" placeholder="Search">
          </div>
          <div class="suffix with-btn six left columns">
            <input type="submit" value="Go">
          </div>
        </div>
      </form>

      <div class="btn-dropdown">
        <a href="" class="btn primary">Primary</a>
        <div class="dropdown-menu">
          <ul>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
            <li><a href="">Dropdown Item</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>