<section>
  <div class="row">
    <div class="twelve columns">
      <form class="stacked" method="POST" action="/items/new">

        <div class="field">
          <label for"">Name</label>
          <div class="input">
            <input type="text" name="name" placeholder="Name of the Item"> 
          </div>
        </div>

        <div class="field">
          <label for"">Description</label>
          <div class="input">
            <textarea name="description"></textarea>
          </div>
        </div>
        
        <div class="fields">
          <div class="twelve columns">
            <div class="field">
              <label for"">Purchased For</label>
              <div class="input ">
                <input type="number" name="purchased_for"> 
              </div>
            </div>
          </div>

          <div class="twelve columns">
            <div class="field">
              <label for"">Purchased On</label>
              <div class="input ">
                <input type="date" name="purchased_on"> 
              </div>
            </div>
          </div>
        </div>

        <div class="actions">
          <input type="submit" value="Add Item">
        </div>

      </form>
    </div>
     <div class="twelve columns">
      
    </div>
  </div>
</section>