<section class="row">
  <header class="twentyfour columns">
    <h2>Horizontal Nav</h2>
  </header>
  <div class="row">
    <div class="eight columns">
      Text
    </div>
    <div class="fifteen columns pre-one">
      <%= render "sample-code/_horz-nav.html.erb" %>
      <%= sample_code "sample-code/_horz-nav.html.erb", "markup" %>
    </div>
  </div>
</section>