<section class="row">
  <header class="twentyfour columns">
    <h2>Vertical Nav</h2>
  </header>
  <div class="row">
    <div class="seven columns">
      <%= render "sample-code/_vert-nav.html.erb" %>
    </div>
    <div class="sixteen pre-one columns">
      Text
      <%= sample_code "sample-code/_vert-nav.html.erb", "markup" %>
    </div>
  </div>
</section>